@model IEnumerable<ManeskinDomain.Model.Query>

@{
    ViewData["Title"] = "Search Results";
}


<h2>Cities which was in two tours</h2>
@if (!Model.Any())
{
    <p>No songs found with the specified duration.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>City</th>
                <th>Country</th>
                <th>Tours Visited</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var city in Model)
            {
                <tr>
                    <td>@city.City</td>
                    <td>@city.Country</td>
                    <td>@city.ToursVisited</td>
                </tr>
            }
        </tbody>
    </table>
}