@model IEnumerable<ManeskinDomain.Model.Query>

@{
    ViewData["Title"] = "Search Location Results";
}

<h2>Search Location Results</h2>

@if (!Model.Any())
{
    <p>No locations found with the specified minimum number of concerts.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Country</th>
                <th>City</th>
                <th>Number of Concerts</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var location in Model)
        {
            <tr>
                <td>@location.Country</td>
                <td>@location.City</td>
                <td>@location.ConcertCount</td>
            </tr>
        }
        </tbody>
    </table>
}
