@model ManeskinDomain.Model.Festival

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Festival</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="FestivalName" class="control-label"></label>
                <input asp-for="FestivalName" class="form-control" />
                <span asp-validation-for="FestivalName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            
            <input type="hidden" value="@ViewBag.PerfomanceId" name="PerfomanceId"
            <input type="hidden" value="@ViewBag.LocationId" name="LocationId"
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
